@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90000;
}
.container {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  background: black;
  opacity: 0.9;

  font-family: "Roboto";
}
.titlewithlogo {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}
.bookameeting {
  width: 80%;
  height: 80%;
  background-color: #396e3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookameeting:hover {
  background-color: white;
  color: black;
}
.navbarelements {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.1rem;
}

.navbarelements:hover {
  color: #396e3d;
}
.mobileNav {
  display: none;
  font-family: "Roboto";
}
.navMenu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .mobileNav {
    position: relative;
    width: 100%;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.9;
    position: relative;
    z-index: 90000;
  }
  .container {
    display: none;
  }
  .navMenu {
    position: absolute;
    right: 100%;

    width: 100%;
    height: 40px;

    transition: 1s;
  }
  .mobileNav:hover .navMenu {
    transition: 1s;
    right: 0;
  }
}
