.label {
  position: relative;
  width: 100%;
  font-weight: 500;
  margin-bottom: 25px;
}

.servicesCont {
  color: grey;
  margin-left: 20px;
  margin-right: 20px;
  word-wrap: break-word;
}

.serviceContent {
  height: 0;
  overflow: hidden;
  animation: unfold 1s ease-in-out;
}

@keyframes unfold {
  from {
    max-height: 0px;
  }
  to {
    max-height: 800px;
  }
}

.serviceBtn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.65rem;
  font-weight: 600;
  width: 100%;
  flex-wrap: wrap;
  white-space: wrap;
  margin-top: 8px;
}

.serviceBtn:hover {
  color: #396e3d;
}

.service {
  margin-top: 20px;
}

.icons {
  display: none;
}

.serviceDetails {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.serviceTitle {
  color: darkslategray;
}

.servicePrice {
  color: #396e3d;
}

.serviceDescription {
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .icons {
    display: block;
  }
  .serviceBtn {
    font-size: 2.4rem;
    margin-top: 15px;
  }
  .serviceDetails {
    font-size: 1.8rem;
  }
  .serviceTitle {
    font-size: 1.8rem;
  }
  .servicePrice {
    font-size: 1.8rem;
  }
  .serviceDescription {
    font-size: 1.6rem;
  }
}
