@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 10px);
  }
}
.container {
  width: calc(100% + 1px);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto";
  background-color: black;
  color: #faedcd;
  position: relative;
}
/* .box {
  position: relative;
  width: 98%;
  height: 98%;
}

.box:hover {
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
} */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3rem;
  font-weight: bold;
  z-index: 1000;
}
.zdjecie1,
.zdjecie2,
.zdjecie3,
.zdjecie4,
.zdjecie5,
.zdjecie6,
.zdjecie7,
.zdjecie8 {
  position: absolute;
  opacity: 0;
  animation: pop-in 1.2s ease-out forwards;
}

.zdjecie1 {
  top: 60%;
  left: 70%;
}
.zdjecie2 {
  top: 15%;
  left: 10%;
}
.zdjecie3 {
  top: 10%;
  left: 60%;
}
.zdjecie4 {
  top: 58%;
  left: 30%;
}
.zdjecie5 {
  top: 73%;
  left: 10%;
}
.zdjecie6 {
  top: 30%;
  left: 80%;
}
.zdjecie7 {
  top: 25%;
  left: 35%;
}
.zdjecie8 {
  top: 75%;
  left: 50%;
}
@media (max-width: 800px) {
  .zdjecie6,
  .zdjecie1 {
    display: none;
  }
}
@media (max-width: 600px) {
  .zdjecie8,
  .zdjecie3 {
    display: none;
  }
}
